@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.strip {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-family: "Roboto Slab";
    min-width: 90px;
    font-size: 50px;
    font-weight: bold;
    align-self: stretch;
    background-image: url("/black_pattern");
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.strip:hover {
    background-image: url("/design");
    color: black;    
}
.main {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.header {
    margin-bottom: 1px;
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    font-weight: bolder;
    border-radius: 4px;
    background-image: url("/design");
    padding: 24px 24px 16px 24px;
    text-shadow: rgb(42, 42, 39) 1px 0 6px;
    box-shadow: 12px 13px 2px black;
}

.top-5-parent-container {
    display: flex;
    gap: 40px;
}

.top-5, .top-5-2 {
    flex-direction: column;
    color: white;
    font-size: 36px;
    padding: 14px;
    line-height: 1px;
    text-align: center;
    font-family: "Ubuntu Mono";
    height: 70px;
    width: 200px;
    border-radius: 10px;
    background-image: url("/black_pattern");
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.top-5:hover, .top-5-2:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.top-5-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.large-text {
    color: white;
    text-shadow: 2px 2px 20px white;
    font-size: 38px;
}

.small-text {
    font-size: 20px;
}

.medium-text {
    font-size: 24px;
}

#qrcode, #qrcode2 {box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: rgba(255, 255, 255, 0.816);
    padding: 18px;
    width: min-content;
    height: min-content;
    border-radius: 10px;
}

.game {
    font-family: "DM Serif Display", sans-serif;
    font-size: 36px;
    font-weight: bold;
    background: -webkit-linear-gradient(0deg, #080b0d 0%, rgb(155, 79, 193) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.qr-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}