html {
    height: 100%;
}

body {
    padding: 15px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.container {
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 5px 5px;
}
    
.container > div {   
    padding: 5px; 
    height: 40px;
    background-color:rgba(240, 248, 255, 0.497);
    border: 1px solid grey;
}

.box {
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
}

.box > *{
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}