@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800;900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 15px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.header {
    display: grid;
    place-content: center;
    font-family: "Press Start 2P", sans-serif;
    font-size: 22px;
}

.container {
    font-family: "Ubuntu Mono", sans-serif;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 8px 8px;
}
    
.container > div {   
    padding: 6px 15px; 
    height: 40px;
    background-color:rgba(240, 248, 255, 0.497);
    border: 2px solid rgb(95, 95, 95);
}

.box {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
}

.box > *{
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.points {
    font-size: 18px;
}

.serial {
    font-size: 20px;
    font-weight: bold;
}

.name {
    font-size: 17px;
}